.dashboard {
    width: 100%;
    min-height: 100vh;
    background-color: #ebeff3;
}
.dashboard .innerDash {
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 15px;
    grid-gap: 20px;
}
.dashboard .innerDash .left .left-inner {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 5px;
}
.dashboard .innerDash .left .left-inner .left-inner-left-section {
    padding: 5px;
}
.dashboard .innerDash .left .left-inner .left-inner-right-section {
    padding: 5px;
}
.dashboard .innerDash .left .left-middle {
    padding-left: 5px;
    margin-top: -15px;
}
.dashboard .innerDash .left .left-middle .graphSection {
    width: 100%;
    height: 363px;
    background-color: white;
    border-radius: 10px;
    padding-top: 15px;
}
.dashboard .innerDash .left .left-middle .graphSection section {
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 15px;
}
.dashboard .innerDash .left .left-bottom {
    padding-left: 5px;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
.dashboard .innerDash .right {
    padding: 5px;
}
