.dashboard {
    width: 100%;
    min-height: 100vh;
    background-color: #EBEFF3;

    .innerDash {
        width: 98%;
        margin: auto;

        .left {

            .left-middle {
                margin-top: -13px;

                .graphSection {
                    width: 100%;
                    height: 363px;
                    background-color: white;
                    border-radius: 10px;
                    padding-top: 15px;

                    section {
                        font-size: 14px;
                        padding-left: 20px;
                        margin-bottom: 15px;
                    }
                }
            }

            .left-bottom {
                width: 100%;
                margin-top: 20px;
            }
        }

    }

}