.modal-footer {
    width: 100%;
    text-align: center !important;
}

.modalLabel {
    width: 150px;
    font-size: 12px;
    font-weight: 500;
    color: #041220;
}

.modalLine {
    color: #bfbfbf;
}

.modalBtnColor {
    background-color: #1193F0;
}

.modalInput{
    font-size: 13px;
    line-height: 30px;
}

.modalDrop {
    font-size: 13px !important;
    color: #797979;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background: #F7F7F7;
    outline: none;
}